# Python virtual environment
.venv/
# Environment variables
.env
# Bases de datos locales
*.duckdb
localdata/
#local notebooks
local_notebooks/
#*.ipynb
#compiled Python files
modelo/__pychache__/
*.pyc